/*
 * Copyright (c) 2022 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

/ {
chosen {
        zmk,kscan = &kscan0;
        zmk,matrix-transform = <&matrix_transform>;
    };

    kscan0: kscan_0 {
    compatible = "zmk,kscan-gpio-matrix";
    diode-direction = "col2row";

    col-gpios=
        <&gpio0 6 GPIO_ACTIVE_HIGH>,
        <&gpio0 8 GPIO_ACTIVE_HIGH>,
        <&gpio0 17 GPIO_ACTIVE_HIGH>,
        <&gpio0 20 GPIO_ACTIVE_HIGH>,
        <&gpio0 22 GPIO_ACTIVE_HIGH>,
        <&gpio0 24 GPIO_ACTIVE_HIGH>,
        <&gpio0 0 GPIO_ACTIVE_HIGH>,
        <&gpio0 11 GPIO_ACTIVE_HIGH>,
        <&gpio1 4 GPIO_ACTIVE_HIGH>,
        <&gpio1 6 GPIO_ACTIVE_HIGH>;

    row-gpios=
        <&gpio1 1 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>,
        <&gpio1 2 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>,
        <&gpio1 7 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>,
        <&gpio0 9 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>,
        <&gpio0 10 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>,
        <&gpio1 11 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>,
        <&gpio1 13 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>,
        <&gpio1 15 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>,
        <&gpio0 2 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>,
        <&gpio0 29 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>,
        <&gpio0 31 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>;
    };

    matrix_transform: matrix_transform {
        compatible = "zmk,matrix-transform";
        columns = <10>;
        rows = <11>;
        col-offset = <0>;
        row-offset = <0>;
        map = < 0 1 2 3 4 5 6 7 
                8 9 10 11 12 13 14 15 
                16 17 18 19 20 21 22 23 
                24 25 26 27 28 29 30 31 
                32 33 34 35 36 37 38 39 
                40 41 42 43 44 45 46 47 
                48 49 50 51 52 53 54 55 
                56 57 58 59 60 61 62 63 >;
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
                &kp ESC  &kp F1 &kp F2 &kp F3 &kp F4 &kp F5 &kp F6 &kp F7 &kp F8 &kp F9 &kp F10 &kp F11 &kp F12 &kp PSCRN &kp PAUSE_BREAK &kp SLCK
                &kp GRAVE &kp N1 &kp N2 &kp N3 &kp N4 &kp N5 &kp N6 &kp N7 &kp N8 &kp N9 &kp N0 &kp MINUS &kp EQUAL &kp BSPC &kp INS &kp HOME &kp PG_UP &kp KP_NUM &kp KP_DIVIDE &kp KP_MULTIPLY &kp KP_MINUS
                &kp TAB &kp Q &kp W &kp E &kp R &kp T &kp Y &kp U &kp I &kp O &kp P &kp LBKT &kp RBKT &kp ENTER &kp DEL &kp END &kp PG_DN &kp KP_N7 &kp KP_N8 &kp KP_N9 &kp KP_PLUS
                &kp CAPS &kp A &kp S &kp D &kp F &kp G &kp H &kp J &kp K &kp L &kp SEMI &kp SQT &kp BSLH &kp KP_N4 &kp KP_N5 &kp KP_N6
                &kp LSHIFT &kp Z &kp X &kp C &kp V &kp B &kp N &kp M &kp COMMA &kp DOT &kp SLASH &kp RSHIFT &kp UP &kp KP_N1 &kp KP_N2 &kp KP_N3 &kp KP_ENTER
                &kp LCTRL &kp LGUI &kp LALT &kp SPACE &kp RALT &mo 1 &kp K_APP &kp RCTRL &kp LEFT &kp DOWN &kp RIGHT &kp KP_N0 &kp KP_DOT
            >;
        };
    };
};
